.payment-order-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.field {
  display: flex;
  flex-direction: column;
}

.radio-group {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-top: 5px;
}

.customer-section {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  gap: 0.5rem;
}

.error-message {
  color: var(--red-500);
  font-size: 0.85rem;
  margin-top: 0.25rem;
  line-height: 1.3;
}

.title {
    margin-bottom: 5px;
}