h2 {
  color: var(--primary-color-text);
}

p {
  margin: 0.25rem 0;
}

.p-card {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr !important;
  }
}
